/* Theme */

main {
	background: #55BEFA;
	color: #FEFEFE;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	position: relative;

}
#introduction {
	position: relative;
	font-size: 40px;


}
.icons a{
	font-size: 28px;
	padding: 10px;
	color: #FEFEFE;
	transition: width 2s hight 2s ease-in 1s;
	transition-property: font-size;

}

.icons a:hover {
	font-size: 28px;
	color: #ffcf35;
}

#photo {
		margin-left: auto;
    margin-right: auto;
		align-items: center;
		position: relative;

}

.icons a svg path{
	fill: #FEFEFE;
}
