body{
 background-color: #D1D1DB;
 }

 #John {
   text-align: center;
   font-size: 48px;
   font-size: 1.875em;
   margin: 0px auto;
 	 padding: 0px auto;
 }

#Intro {
  color: #FEFEFE;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-size: 1.875em;

}

 .navbar {
     overflow: hidden;
 		 background-color: transparent;
     position: fixed; /* Set the navbar to fixed position */
     top: 0; /* Position the navbar at the top of the page */
     width: 100%; /* Full width */
 }

 .navbar a {
 	font-family: 'Raleway', sans-serif;

     color: #FEFEFE;
     text-align: center;
     padding: 14px 16px;
 		font-size: 25px;
 		transition: width 2s hight 2s ease-in 1s;
 		transition-property: font-size;
 }

 .navbar a:hover {
 	font-size: 25px;
 	color: #ffcf35;
 }
