body{
 background-color: #D1D1DB;
 }

 #John {
   color: #FEFEFE;
   margin-top: 25px;
   font-family: 'Raleway', sans-serif;
   text-align: center;
   font-size: 48px;
   font-size: 1.875em;
   font-weight: 500;
 }

#Intro {
  color: #FEFEFE;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-size: 1.875em;

}
#img {
  max-width: 40%;
  max-height: 60%;
}
 .navbar {
     overflow: hidden;
 		 background-color: transparent;
     position: fixed; /* Set the navbar to fixed position */
     top: 0; /* Position the navbar at the top of the page */
     width: 100%; /* Full width */
 }

 .navbar a {
 	font-family: 'Raleway', sans-serif;

     color: #FEFEFE;
     text-align: center;
     padding: 14px 16px;
 		font-size: 26px;
 		transition: width 2s hight 2s ease-in 1s;
 		transition-property: font-size;
 }

 .navbar a:hover {
 	font-size: 26px;
 	color: #ffcf35;
 }
 .devto {
 	margin-bottom: -0.20rem;
 }

 .devto svg {
 	margin-bottom: -0.20rem;
 	margin-left: 0.675rem;;
 	width: 2.65rem;
 	height: 2.65rem;
 }
