/*
*	stylesheet.css for jschriem.me
* By John Schriemer
* 01/24/2019
*/

/*
Title "John Schriemer"
Color, Spacing, And Location
*/
.introduction {
	position: sticky;
	padding: 10px 0;
	font-size: 9vw;

	font-weight: 600;
	color: #FEFEFE;
  text-align: center;
  width: 100%;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	top: 25%;
  right: 50%;
}

@media screen and (min-width: 800px) {
  .introduction {
    font-size: 80px;
		padding: 10px 0;
		letter-spacing: 0.25em;
  }
}

/* Css Effect for title.js */
.introduction .letter {
  display: inline-block;
  line-height: 1em;
}

/*
Secondary Text on Title Page
Color, Spacing, And Location
*/
.container{
	color: #FEFEFE;
	font-size: 4vw;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.09em;
	text-transform: uppercase;

  z-index: 300;
  text-align: center;
  width: 100%;
	top: 25%;
	position: sticky;
}

@media screen and (min-width: 600px) {
  .container {
    font-size: 36px;
  }
}

/* Parallax effect */
.parallax {
    background: transparent;
		background-position: relative;
		background-repeat: no-repeat;
    background-size: cover;

		overflow: hidden;
		min-height: 100vh;
		margin: 0px auto;
    padding: 0px auto;
		width: auto;
}

/* 0 margin around background */
body{
    margin: 0;
}


/*Fade about me Effect */
.fade {
  opacity: 1;
}

/*snake position*/
#snake {
	float: right;
	display: inline;
}
/*snake image*/
#battlesnake{
	width: 30%;
	height: 30%;
	display: block;

}
/*Desktop view of snake*/
@media screen and (min-width: 600px) {
  #battlesnake {
		width: 30%;
		height: 30%;
		margin-top: 50px;
		float: left;
		padding: 1%;
  }
}

#surfin{
	width: 30%;
	height: 30%;
}

@media screen and (min-width: 600px) {
  #surfin {
		width: 30%;
		height: 30%;
		margin-top: 50px;
		float: left;
		padding: 1%;
		margin-left: 25px;
  }
}


@media screen and (min-width: 600px) {
  .content {
		margin-top: 50px;
	  position: relative;
	  width: 100%;
	  max-width: 400px;
	  overflow: hidden;
		float: left;
		margin-left: 35px;
  }
}

.content {
	/*margin-top: 50px;*/
  position: relative;
  /*width: 100%;*/
  /*max-width: 400px;*/
	width: 30%;
	height: 30%;
  overflow: hidden;
	float: left;
	/*margin-left: 35px;*/
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;

}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

/*Arrow on Contact page */
.upArrow {
		color: #FEFEFE;
		position: absolute;
		transform: translate(-50%, -50%);
		font-size: 2.3rem;
		margin-top: 5em;
}

/* Bounce animation for arrow */
.bounce {
		animation: bounce 3s infinite;
}

/* Bounce animation for arrows */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
	}
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*about me title*/
h2{
	letter-spacing: 0.09em;
}

/* About me text*/
#Intro {
	color: #00252B;
	font-size: 1.575em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	position: relative;
	min-height: 90vh;
 	padding: 10%;
 	background-color: #FEFEFE;
}

.lang{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: #00252B;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	min-height: 40vh;
}

#code{
	text-align: center;
	letter-spacing: 0.55em;
	font-size: 1.6em;
	position: relative;
}

@media screen and (min-width: 600px) {
  #code{
		text-align: center;
		letter-spacing: 0.3em;
		font-size: 2em;
		position: relative;
  }
}

/* Contact Title*/
#Con {
	color: #FEFEFE;
  font-family: 'Raleway', sans-serif;
  font-size: 2.875em;
	position: relative;
  text-align: center;
	padding: 5%;
	min-height: 70vh;
	background-color: #2ACCAF;
	letter-spacing: 0.05em;
}

/* Contact spacing*/
#Contact {
 padding: 5%;
}


/*Icon Styling */
.icons a{
	color: #FEFEFE;
	font-size: 1em;
	margin-top: 80px;
  z-index: 300;
	transition: width 2s hight 2s ease-in 1s;
	transition-property: font-size;
}
/*icon styling for >600px width */
@media screen and (min-width: 600px) {
  .icons a{
    font-size: 60px;
		padding: 0.6em;
  }
}

/*Icon Color Effect */
.icons a:hover {
	color: #ffcf35;
}

#email{
	text-decoration: none;
}

/* Footer*/
footer{
	font-size: 1.2em;
	background-color: #5C5C5C;
	font-family: 'Raleway', sans-serif;
	color: #FEFEFE;
	text-align: center;
	padding: 2%;
}

.highlight {
	color: red;
}
